<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.department">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Department">
        <activity
            android:name=".student_portal"
            android:exported="false" />
        <activity
            android:name=".delete"
            android:exported="false" />
        <activity
            android:name=".pdf"
            android:exported="false" />
        <activity
            android:name=".placement"
            android:exported="false" />
        <activity
            android:name=".faculty"
            android:exported="false" />
        <activity
            android:name=".notice"
            android:exported="false" />
        <activity
            android:name=".dashboard"
            android:exported="false" />
        <activity
            android:name=".register"
            android:exported="false" />
        <activity
            android:name=".stafflogin"
            android:exported="false" />
        <activity
            android:name=".studentlogin"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>